/* You can add global styles to this file, and also import other style files */
h1{
    color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    font-weight: 1010;
}