#image{
    /* height: 20%;
    width: 20%; */

    /* justify-content: center;
    align-items: center; */
    display: block;
    margin: auto;
    box-shadow: none !important;
    
    
    /* background-position: 0%; */
}

h1{
    color: black;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50px;
    
}
#Log #image{
    cursor: pointer;
}

.error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}